body{
  font-family: "helvetica";
}
.lista{
  font-size: 25px;
}
#duvidas{
  font-weight: bold;
  font-style: italic;
}
#indice{
  background: rgb(50,200,200);
  width: 40%;
  border: 2px dashed rgb(0,0,0);
  border-top:6px solid rgb(0,0,0);
  border-bottom:6px solid rgb(0,0,0);

}
