body{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  margin: 20px;
}
 #titulo{
   width: 300px;
   border-bottom: solid;
 }
 #LogoEFaixa{
   height: 55px;
   overflow: hidden;
 }
 #campus{
   background: #b5e61d;
   padding: 7px;
   width: 260;
   margin-left:10px;
   position: relative;
   top: -15px;
   float: left;
   display: inline-block
 }
 #faixaAmarela{
   margin:5px;
   margin-left: 12px;
   height: 42px;
   width: 100%;
   position: relative;
   left:315px;
   background-color: #ffc90e;
   white-space: nowrap;
 }
 div#map {
   height:250px;
   width:200px;
   border-radius: 50%;
   border-bottom-right-radius: 0px;
   box-shadow: 5px 5px 6px grey;
   margin: 20px;
   float: left;


 };
 #Localizacao{
   height: 600px;
   width: 600px;
   background-color: green;
 }
 #form{

 }
 .formularios{
   width:350px;
   float:left;
   margin: 10px;
   border-color: rgb(55, 97, 1);
   overflow: hidden;
   background-color: white;
   border-style: solid;
   border-width: 1px;
   border-radius: 10px;
   padding: 0px;
 }
